.weekContainer {
  background-color: red;
}

.weekBar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 350px;
  background-color: lightblue;
  padding: 0;
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.465);
  grid-gap: 5px;
  width: 90%;
  margin: auto;
  overflow-x: auto;
}

.weekOptions {
  display: flex;
  grid-column: 1 / 8;
  justify-content: center;
  align-self: center;
}

.weekCard {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.dateBack,
.dateNext {
  height: 50px;
  align-self: center;
}

@media only screen and (max-width: 1400px) {
  .weekBar {
    grid-template-columns: repeat(7, 240px);
  }
}
