.navBar {
  display: flex;
  width: 90%;
  height: 100px;
  margin: auto;
  align-items: center;
}

.title {
  text-align: start;
  flex: 1;
  font-style: italic;
  font-size: 40px;
  background-color: rgba(78, 174, 93, 0.8);
  background-image: linear-gradient(
    100deg,
    rgba(78, 174, 93, 0.9),
    rgba(227, 108, 102)
  );
  background-size: 50%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.space {
  flex: 1.3;
}

.navList {
  display: flex;
  margin-left: auto;
}

.logOut {
  display: flex;
  margin-left: auto;
}

.nav {
  color: rgb(90, 90, 90);
  padding: 12px;
  cursor: pointer;
}

.nav:hover {
  color: rgba(78, 174, 93);
  border-bottom: 1px solid rgba(227, 108, 102);
}

.userNav {
  display: flex;
  flex: 1;
  list-style-type: none;
  margin: 20px;
  justify-content: center;
}
